$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$inter: "Inter", sans-serif;
$sfpro: "SF Pro Display", sans-serif;
$pragmatica: "Pragmatica", sans-serif;

$white: #FFFFFF;
$white10: #F5F3ED;
$white30: #D9D9D9;

$black: #010507;
$black5: #000;
$black30: #202324;

$gray10: #3C454A;

$green: #00827A;
$green10: #198E87;
$green80: #C3D7D6;