.input {
  border-radius: 16px;
  padding: 16px;
  background-color: $green10;
  color: $white;
  width: 100%;
  border: 1px solid transparent;
  transition: border .4s, background-color .4s;

  &--textarea {
    min-height: 125px;
    resize: none;
    display: flex;
  }

  &:hover {
    border-color: $white;
  }

  &:focus {
    background-color: $green;
    border-color: $green10;
  }

  &::placeholder {
    color: $green80;
  }

  &:-webkit-autofill, &:-webkit-autofill:focus {
    -webkit-text-fill-color: $green10;
    -webkit-box-shadow: inset 0 0 0 50px $white;
  }

  &:-webkit-autofill:hover {
    -webkit-text-fill-color: $green10;
  }
}