.title {
  max-width: 865px;
  width: 100%;
  font-size: 56px;
  letter-spacing: -1.12px;
  font-weight: 400;
  line-height: 0.95;
  font-family: $pragmatica;
  text-align: center;

  &-section {
    font-size: 40px;
    margin: 0 auto 48px;
    letter-spacing: -0.8px;
    @include r($desktop) {
      font-size: 36px;
      margin-bottom: 40px;
    }
    @include r($lg) {
      font-size: 32px;
      margin-bottom: 32px;
    }
    @include r($tablet) {
      font-size: 30px;
    }
    @include r($sm) {
      font-size: 28px;
      line-height: 1;
    }
    @media (max-width: 560px) {
      font-size: 26px;
    }
    @include r($phone) {
      font-size: 24px;
    }

    &--big {
      margin: 0 auto;
      font-size: 56px;
      letter-spacing: -1.12px;
      @include r($desktop) {
        font-size: 52px;
      }
      @include r($lg) {
        font-size: 48px;
      }
      @include r($tablet) {
        font-size: 42px;
      }
      @include r($sm) {
        font-size: 38px;
      }
      @media (max-width: 510px) {
        font-size: 34px;
      }
      @include r($phone) {
        font-size: 32px;
      }
      @media (max-width: 390px) {
        font-size: 30px;
      }
    }
  }
}