<footer class="footer indent">
  <div class="container">
    <img class="footer__img" src="images/follow.svg" width="261" height="273" alt="follow us decor">
    <h2 class="footer__title title title-section--big">Follow us on Twitter</h2>
    <div class="info info--bottom">
      <p>
        For read the latest news, tips, and insights on new technologies, professional skills, and personal development.
      </p>
      <div class="info__actions">
        <button class="btn" type="button">Subscribe</button>
        <button class="btn btn--light-green" type="button">Reviews</button>
      </div>
    </div>
  </div>
  <p class="footer__author">© InnovateX. All rights reserved</p>
</footer>