<nav class="nav">
  <ul class="nav__list">
    <li>
      <a class="nav__link active" href="#home">Home</a>
    </li>
    <li>
      <a class="nav__link" href="#advantages">Advantages</a>
    </li>
    <li>
      <a class="nav__link" href="#reviews">Reviews</a>
    </li>
    <li>
      <a class="nav__link" href="#connected">Connected</a>
    </li>
    <li>
      <a class="nav__link" href="#footer">Follow us</a>
    </li>
  </ul>
  <span class="nav__dot"></span>
  <img class="nav__logo" src="images/icons/logo.svg" width="104" height="18" alt="logo">
</nav>